@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --font-quicksand: "Quicksand", sans-serif;

  --shadow-bold: 1px 2px 6px 4px #35394433;
  --shadow-medium: 0 15px 25px #00000014;
  --shadow-light: 0 3px 10px #00000014;
  --shadow-lighter: 0 0 10px #0000001a;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-light: #111;

  --color-gray-100: #f2f2f2;
  --color-gray-200: #f1f1f1;
  --color-gray-300: #eaeaea;
  --color-gray-400: #dddddd;
  --color-gray-450: #bfbfbf;
  --color-gray-500: #a8a8a8;
  --color-gray-600: #979797;
  --color-gray-650: #868686;
  --color-gray-700: #83868c;
  --color-gray-800: #666666;

  --color-pink-dark: #e62263;
  --color-red-dark: #e12c43;
  --color-green-500: #28af5b;
  --color-red-500: #f55;
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  html,
  body {
    @apply font-quicksand text-base leading-relaxed font-normal;
  }
}

@layer components {
  .wrapper {
    @apply max-w-[1440px] !mx-auto px-[15px];
  }
}

@layer utilities {
  @keyframes moveHeader {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes leftToRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes rightToLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes downToUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes upToDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes flip {
    0% {
      transform: rotateX(100deg);
    }
    60% {
      transform: rotateX(-50deg);
    }
    80% {
      transform: rotateX(25deg);
    }
    100% {
      transform: rotateX(0);
    }
  }
  @keyframes scale {
    0% {
      transform: scale(1.3);
    }
    33% {
      transform: scale(1);
    }
    66% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes scaleAndMove {
    0% {
      transform: translate(160%, 0) scale(0.5);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }

  .moveHeader {
    animation: moveHeader 0.8s ease-out forwards;
  }

  .leftToRight {
    animation: leftToRight 0.8s ease-out forwards;
    animation-delay: 0.3s;
  }

  .rightToLeft {
    animation: rightToLeft 0.8s ease-out forwards;
    animation-delay: 0.3s;
  }

  .downToUp {
    animation: downToUp 0.8s ease-out forwards;
    animation-delay: 0.3s;
  }
  .upToDown {
    animation: upToDown 0.8s ease-out forwards;
    animation-delay: 0.3s;
  }

  .flip {
    animation: flip 0.8s ease-out forwards;
    animation-delay: 0.3s;
  }
  .scale {
    animation: scale 0.8s ease-out forwards;
    animation-delay: 0.3s;
  }
  .scaleAndMove {
    animation: scaleAndMove 0.8s ease-out forwards;
    animation-delay: 0.3s;
  }
}
